<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'post/create.css' %}" />
<head>
    <meta charset="UTF-8">
    <title>Create a post</title>
</head>
<body>
<h1>Here you can create a post.</h1>
<form method="POST">
    {% csrf_token %}
    Write your post here: <br>
    <input type="text" name="post_text"><br>
    <button type="submit" value="Post">Submit</button>
</form>
<h3>To get back to the main page <a href="/">click here</a>. <br>
    To view all posts <a href="/post/">click here</a>.</h3>

</body>
</html>